rules_version = '2';
service cloud.firestore {
    match /{document=**} {
        allow read, write: if isAdmin(request);
        //{{>sub/c.rules}}
    }
}
